.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;

  text-align: center;
  text-transform: uppercase;
  color: #b4b4b4;

  box-sizing: border-box;
  width: 100%;

  background-color: #f0f0f0;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
